<div class="modal-body pollui-modal" style="overflow: visible">
  <div class="pollui-poll-options">
    {{i18n "pollui.poll_name_label"}}
    {{text-field id="poll-name" value=controller.pollName placeholderKey="pollui.poll_name_placeholder" }}
    {{i18n "pollui.poll_type_label"}}
    {{combo-box name="poll-type" valueAttribute="title" value=controller.pollType
      nameProperty="title" content=pollTypes }}
    <div class="pollui-poll-options">
      {{i18n "pollui.poll_min_label" }}
      {{text-field id="poll-min-value" value=controller.pollMinValue placeholderKey="pollui.poll_min_placeholder" maxlength="3" }}
      {{i18n "pollui.poll_max_label" }}
      {{text-field id="poll-max-value" value=controller.pollMaxValue placeholderKey="pollui.poll_max_placeholder" maxlength="3" }}
    </div>
    <div class="pollui-poll-number-options">
      {{i18n "pollui.poll_step_label" }}
      {{text-field id="poll-step-value" value=controller.pollStepValue placeholderKey="pollui.poll_step_placeholder" maxlength="3" }}
    </div>
  </div>
  <div class="pollui-content">
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary pull-right" {{action "apply"}}>{{i18n "pollui.insert_button"}}</button>
</div>